.header {
    position: absolute;
    top: 20px;
    /* left: 14.5%; */
    left: 50%;
    transform: translateX(-50%);
    background: #121212;
    margin: 0 auto;

}

.header-container {
    gap: 20px;
    display: flex;
    align-items: center;
}

.header-wrap {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    display: flex;
    padding: 14px 20px;
    align-items: center;
    justify-content: center;
    width: 822px;
}

.logo-header {
    margin-right: auto;
}

.header-navigation {}

.header-nav-list {
    display: none;
}

.nav-list-item {}

.header-btn {
    display: none;
}

.mob-btn {
    display: flex;
    gap: 20px;
}

.mob-open-menu {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mob-open-icon {
    stroke: #fff;
}

.mob-sinup-icon {
    fill: rgba(190, 166, 158, 0.4);

}

.mob-sinup-link {
    border-radius: 100%;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

@media screen and (min-width:768px) {
    .header-btn {
        border-radius: 12px;
        padding: 16px;
        width: 239px;
        height: 60px;
        background: #fff;
        font-weight: 700;
        font-size: 18px;
        display: block;
        /* line-height: 28px; */
        line-height: 156%;
        text-transform: uppercase;
        color: #121212;
        transition: 6000ms background cubic-bezier(0.075, 0.82, 0.165, 1), 600ms color cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .mob-sinup-link {
        display: none;
    }
}

@media screen and (min-width:1280px) {
    .header-wrap {
        gap: 97px;
        padding: 0 50px;
    }

    .header-nav-list {
        display: flex;
        gap: 28px;

    }

    .nav-list-link {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        display: block;
        padding: 21px 0;
        transition: 600ms color cubic-bezier(0.075, 0.82, 0.165, 1);

    }

    .nav-list-link:hover,
    .nav-list-link:focus {
        color: #bea69e;
    }

    .header-btn:hover,
    .header-btn:focus {
        background: #1d1d1d;
        color: #bea69e;
    }

    .mob-open-menu {
        display: none;
    }
        .mob-btn{display: none;}
}